body{
    background: #efefef;
    font-family: arial, tahoma;
}

fieldset {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    margin: 20px auto;
    width: 500px;
}

legend {
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;   
}

label {
     margin-bottom: 10px;
     display: block;
}

input {
    border: 1px solid #efefef;
    margin-bottom: 10px;
}

input[type="text"], input[type="password"], textarea {
    padding: 8px;
    width: 200px;
    display: block;
}

hr {
    border: 1px solid #eeeeee;
}
 textarea {
    height: 200;
    margin-bottom: 10px;
 }